# Binaries
/agent
*.exe
*.dll
*.so
*.dylib

# Build output
/build/
bin/
*.out

# Dependency directories
/vendor/

# Go modules
go.sum

# IDE/editor files
*.swp
*.swo
*.idea/
.vscode/
*.log

.DS_Store
Thumbs.db

*.test

tmp/
tmp/pgdata/
