services:
  agent-va:
    image: uptimeo-api-agent:latest
    container_name: agent-va
    volumes:
    - ./tmp/data/agent-va:/data
    environment:
      AGENT_ID: "1152" # create agent and update the values here
      API_BASE_URL: "http://uptimeo-app:8080"
      QUEUE_PATH: "/data/queue"
      CONFIG_RELOAD_INTERVAL: "1m"
      API_KEY: uptimeo_aHKcTtcY14FVEtl5U5T3uuuiw9KeVwnZSnLJpX2lgig
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pgrep agent || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
    - uptimeo

  agent-sf:
    image: uptimeo-api-agent:latest
    container_name: agent-sf
    volumes:
    - ./tmp/data/agent-sf:/data
    environment:
      AGENT_ID: "1151" # create agent and update the values here
      API_BASE_URL: "http://uptimeo-app:8080"
      QUEUE_PATH: "/data/queue"
      CONFIG_RELOAD_INTERVAL: "1m"
      API_KEY: uptimeo_aHKcTtcY14FVEtl5U5T3uuuiw9KeVwnZSnLJpX2lgig
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pgrep agent || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
    - uptimeo
networks:
  uptimeo:
    name: uptimeo
    external: true
