services:
  uptimeo-app:
    image: uptimeo:latest
    container_name: uptimeo-app
    env_file:
    - ./.env
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/uptimeo
      SPRING_DATASOURCE_USERNAME: uptimeo
      SPRING_DATASOURCE_PASSWORD: uptimeo
      SPRING_PROFILES_ACTIVE: prod
    ports:
    - "8080:8080"
    restart: unless-stopped
    networks:
    - uptimeo
networks:
  uptimeo:
    name: uptimeo
    external: true
