services:
  uptimeo-status:
    image: ghcr.io/vibhuvioio/uptimeo-statuspage:latest
    container_name: uptimeo-status
    env_file:
    - .env
    ports:
    - "8077:8077"
    restart: unless-stopped
    networks:
    - uptimeo
networks:
  uptimeo:
    name: uptimeo
    external: true
